ul { padding: 0 }
body {
  text-align: center;
  font-family: Helvetica;
}
.maintitle {
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  background-size: 1900 px 1400px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: White;
}
.topnav {
  font-size: 18px;
  color: White;
}
.topnav ul {
  list-style-type: none;
  color: White;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
  font-weight: normal;
}
.crosstitle{
  background-image: url("../images/the-flatiron-building.png");
  font-weight: bold;
  font-size: 23;
  color: White;
}
.footer {
  font-family: helvetica;
  font-size: 11;
  color: White;
  background-color: dimgray;
  text-align: left;
}
